<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Sign Up</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        h2 {
            text-align: center;
            color: #333;
        }
        form {
            max-width: 300px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        input[type="text"],
        input[type="password"],
        select {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button[type="submit"] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 5px 0px; /* Adjusted margin to separate button from inputs */
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #45a049;
        }
        p {
            text-align: center;
            margin-top: 20px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h2>Student Sign Up</h2><br>
    <form action="/signup" method="post">
        Room No:<input type="text" name="room_no" pattern="[0-9]{3}" title="Please enter a 3-digit room number" required><br><br>
        Hostel Name:
        <select name="hostel" required>
            <option value="" disabled selected>Select Hostel</option>
            <option value="Aryabhatta">Aryabhatta</option>
            <option value="Bose">Bose</option>
            <option value="Chanakya">Chanakya</option>
            <option value="Teresa">Teresa</option>
            <option value="Gargi">Gargi</option>
            <option value="Kalpana">Kalpana</option>
            <option value="NGH">New Girls Hostel</option>
            
        </select><br><br>
        Password:<input type="password" name="password" pattern=".{6,}" title="Password must be at least 6 characters" required><br><br>
        <button type="submit">Sign Up</button><br><br>
    </form>
    <p>Already have an account? <a href="/studentlogin">Log in here</a>.</p>
</body>
</html>
